@page "/"
<!--Подключение интерфейса заполнения таблицы-->
@inject IDataService data
<!--Включение режима интерактивной визуализации -->
@rendermode InteractiveServer
<!--Подключение авторизации-->
@attribute [Authorize]

<PageTitle>Задачи</PageTitle>

<h1>Мои задачи</h1>

<!--Реализация контейнера таблицы-->
<div class="container">
    @if (tasks == null)
            {
            <!--Строка будет объединять 5 ячеек таблицы при выводе на страницу-->
                <tr>
                    <td> colspan = "5">Loading...</td>
                </tr>
            }
    else
    {
    <!--Определение и реализация заголовков и содержимого таблицы-->
        <div class="card-group">
            @foreach (var task in tasks)
            {
                <div class="card">
                    <div class="card-header">
                        @task.Title
                    </div>
                    <div class="card-body">
                        <p>@task.Description</p>
                        <p>@task.CreatedDate</p>
                    </div>
                </div>
            }
        </div>
    }
</div>


@code
{
<!--Вызов интерфейса для заполнения данных таблицы-->
    IEnumerable<TaskItem>? tasks;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tasks = await data.GetTaskItemsAsync();
    }
}
